<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">



	<preference for="MagePrakash\Helpdesk\Api\TicketRepositoryInterface" type="MagePrakash\Helpdesk\Model\TicketRepository"/>

	<preference for="MagePrakash\Helpdesk\Api\Data\TicketInterface" type="MagePrakash\Helpdesk\Model\Data\Ticket"/>
	
	<preference for="MagePrakash\Helpdesk\Api\Data\TicketSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	
	<preference for="MagePrakash\Helpdesk\Api\TicketMessageRepositoryInterface" type="MagePrakash\Helpdesk\Model\TicketMessageRepository"/>	
	
	<preference for="MagePrakash\Helpdesk\Api\Data\TicketMessageInterface" type="MagePrakash\Helpdesk\Model\Data\TicketMessage"/>
	
	<preference for="MagePrakash\Helpdesk\Api\Data\TicketMessageSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	
	<preference for="MagePrakash\Helpdesk\Api\Data\PriorityInterface" type="MagePrakash\Helpdesk\Model\Data\Priority"/>
	
	<preference for="MagePrakash\Helpdesk\Api\Data\PrioritySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="mageprakash_helpdesk_department_listing_data_source" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Department\Grid\Collection</item>
				<item name="mageprakash_helpdesk_status_listing_data_source" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Status\Grid\Collection</item>
				<item name="mageprakash_helpdesk_ticket_listing_data_source" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Ticket\Grid\Collection</item>
				<item name="mageprakash_helpdesk_priority_listing_data_source" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Priority\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="MagePrakash\Helpdesk\Model\ResourceModel\Department\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mageprakash_helpdesk_department</argument>
			<argument name="resourceModel" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Department\Collection</argument>
		</arguments>
	</virtualType>
	<virtualType name="MagePrakash\Helpdesk\Model\ResourceModel\Status\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mageprakash_helpdesk_status</argument>
			<argument name="resourceModel" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Status\Collection</argument>
		</arguments>
	</virtualType>
	<!-- <virtualType name="MagePrakash\Helpdesk\Model\ResourceModel\Ticket\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mageprakash_helpdesk_ticket</argument>
			<argument name="resourceModel" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Ticket\Collection</argument>
		</arguments>
	</virtualType> -->

	<type  name="MagePrakash\Helpdesk\Model\ResourceModel\Ticket\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageprakash_helpdesk_ticket</argument>
            <argument name="resourceModel" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Ticket</argument>
            <argument name="eventPrefix" xsi:type="string">mageprakash_helpdesk_ticket_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mageprakash_helpdesk_ticket_records_collection</argument>
        </arguments>
    </type>
	<virtualType name="MagePrakash\Helpdesk\Model\ResourceModel\Priority\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mageprakash_helpdesk_priority</argument>
			<argument name="resourceModel" xsi:type="string">MagePrakash\Helpdesk\Model\ResourceModel\Priority\Collection</argument>
		</arguments>
	</virtualType>
</config>
