<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	 <event name="mageprakash_helpdesk_ticket_save_after">
        <observer name="ticket_created_customer_notification" instance="MagePrakash\Helpdesk\Observer\Ticket\CustomerNotification" />
    </event>
    <event name="mageprakash_helpdesk_ticket_message_save_after">
        <observer name="customer_notification" instance="MagePrakash\Helpdesk\Observer\TicketMessage\CustomerNotification" />
    </event>
</config>
